<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.rbc.rbcevent"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>RBC Events</name>

    <description>
        RBC Events App
    </description>

    <author href="http://www.rbc.org" email="jandi_lau@rbc.org">
        Jandi Lau
    </author>

	<access uri="http://goldfinch.rbcintl.org" subdomains="true">
		<feature id="blackberry.pim.memo"/>
		<feature id="blackberry.invoke.MemoArguments"/>
	</access>
  
</widget>