<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "org.rbc.rbcevents"
	versionCode="1" 
	version   = "1.0.0"
>

    <!-- versionCode is optional and Android only -->

    <name>RBC Events</name>

    <description>
        RBC Events App for multiple countries
    </description>

    <author href="http://www.rbc.org" email="jandi_lau@rbc.org">
        Jandi Lau
    </author>
	
	<preference name="phonegap-version" value="2.2.0" />
	
	<content src="index.html" >	
	</content>
	
	<!-- Expose access to all URIs, including the file and http protocols -->
	<access subdomains="true" uri="*" >
		<!-- PhoneGap API -->
		<feature id="blackberry.system" required="true"	version="1.0.0.0" />
		<feature id="com.phonegap" required="true"	version="1.0.0" />
		<feature id="blackberry.find" required="true" version="1.0.0.0" />
		<feature id="blackberry.identity" required="true" version="1.0.0.0" />
		<feature id="blackberry.pim.Address" required="true" version="1.0.0.0" />
		<feature id="blackberry.pim.Contact" required="true" version="1.0.0.0" />
		<feature id="blackberry.io.file" required="true" version="1.0.0.0" />
		<feature id="blackberry.utils" required="true"	version="1.0.0.0" />
		<feature id="blackberry.io.dir" required="true" version="1.0.0.0" />
		<feature id="blackberry.app" required="true" version="1.0.0.0" />
		<feature id="blackberry.app.event" required="true" version="1.0.0.0" />
		<feature id="blackberry.system.event" required="true" version="1.0.0.0"/>
		<feature id="blackberry.widgetcache" required="true" version="1.0.0.0"/>
		<feature id="blackberry.media.camera" />
		<feature id="blackberry.ui.dialog" />
	</access>
	 
	<!-- PhoneGap API -->
	<access subdomains="true" uri="file:///store/home" />
	<access subdomains="true" uri="file:///SDCard" />
	
	<license>
    Copyright (c) 2013 RBC Ministries Ltd.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
    BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
    ACTION OF CONTRACT, INSULT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
	</license>
</widget>